@font-face {
    font-family: "Muli";
    src: url("../fonts/Muliextrabold.ttf");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Muli";
    src: url("../fonts/Muliregular.ttf");
    font-weight: 400;
    font-style: normal;
  }


  @font-face {
    font-family: "AbrilFatface";
    src: url("../fonts/Abrilfatfaceregular.ttf");
    font-weight: 400;
    font-style: normal;
  }
